* {
 box-sizing: border-box;
}

:root {
    --Primary-color-black-green : #143C3C;
    --text-color-white :#fff;
    --Primary-color-black:#152427;
    --text-color-black-gray: #575D5E;
    --Scondery-color-light-green:#E2EDDF;
}
body, html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}
body  {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* =======================================common css================================================================ */
a {
    text-decoration: none;
 
 }
.main-content {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: var(--Primary-color-black-green);
    padding: 14px 52px;
    width: 173px;
    height: 57px;
    color: var(--text-color-white, #FFF);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: all 0.5s ease;
} 
.btn:hover {
    opacity: 0.8;
}
/* ==========================================================header=========================  */
.fix-header {
    margin-top: 28px;
    padding-top: 28px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff ; 

}
.header {
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
header::after {
    margin: 13px auto 0;
    content: "";
    display:block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}
.logo {
    margin-right: 406px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav__navigation--link {
    margin:0  88px 0 0  ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.navigation__li a{
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
}
.navigation__li{
    padding: 20px 0;
}
.header__sign {
    display:flex;
    align-items:center;
    justify-content:center;
}
.line {
    position: absolute;
    bottom: -13px;
    width: 16px;
    height: 3px;
    opacity: 0;
    background: var(--Primary-color-black-green, #143C3C);
    transform: translateX(-30%);
    transition: transform 1s ease;
}
.active {
    opacity: 1;
    transform: translateX(0);
}
.text__shadow {
    text-shadow:  1px 1px currentColor;
}
/* js common header */
.active {
    opacity: 1;
    transform: translateX(0);
}
.text__shadow {
    text-shadow:  1px 1px currentColor;
}
/* css class end  */
/* ==================================================================hero wrap===================================================== */
.hero-container {
    position: relative;
    margin-top: 60px;
    display: flex;
    gap: 76px
}
.hero-wrap__heading {
    margin-top: 43px;
    width: 368px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px; /* 120% */
}
.hero-wrap__desc {
    width: 341px;
    margin-top: 20px;
    color: var(--text-color-black-gray, #575D5E);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
}
.hero-wrap__node {
    margin-top: 42px;
    display: flex;
    gap: 43px;
}
.hero-wrap__node--watch {
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    gap: 15px;
}
.hero-wrap__node--alt {
    white-space: nowrap;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
}
.elip {
    position: absolute;
    top: -2px;
    left: -8px;
}
.hero__bg {
    position: absolute;
    top: 122px;
    right: 150px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    width: 340px;
    height: 340px;
}
.hero-img__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    transform: translateY(50px);
    transition: transform 1s ease;
}
.hero-img {
    display: flex;
    gap: 20px;
    border-radius: 30px;
 
}
.hero-img__image {
    z-index: 1;
}
.hero-img__2 {
    margin-top: 77px;
    transform: translateY(-125px);
    transition: transform 2s ease;
}
.flower-left,.flower-right {
    position: absolute;
    z-index: 3;

}
.branch-left, .branch-right {
    position: absolute;
    z-index: 2;
}
.flower-left {
    top: 0;
    left: 254px;
}
.branch-left {
    top: -7px;
    left: 297px;
}
.flower-right {
    bottom: -77px;
    right: 50px;
}
.branch-right {
    bottom: -108px;
    right: 88px;
}
/* css cua javascript  */
.slide-down {
    transform: translateY(0);
}
/* =======================================================brand =============================== */
.brand {
    margin-top: 130px;
}
.brand-box {
    display:flex;
    align-items: center;
    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    background: var(--Scondery-color-light-green, #E2EDDF);
}
.brand--google {
    margin-left: 124px;
    color: var(--Primary-color-black-green, #143C3C);
    font-size: 3.1rem;
    font-weight: 500;
}
.brand-slack {
    margin-left: 47px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.brand-slack-name {
    color: var(--Primary-color-black-green, #143C3C);
    font-size: 3.2rem;
    font-weight: 600;
}
.brand-Agworld {
    margin-left: 51px;
    display:flex;   
    align-items:center;
    justify-content:center;
}
.brand-Agworld-name {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}
.brand-Agworld-img {
    margin-right: 11px;
}
.brand--RioTinto {
    margin-left: 64px;
    color: var(--Primary-color-black-green, #143C3C);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}
.brand-heroku {
    margin-left: 63px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.brand-heroku-name {
    color: var(--Primary-color-black-green, #143C3C);
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}
.brand-heroku-img{
    margin-right: 11px;
}
/* ===================================================services ================================================= */

.service-top {
    margin-top: 106px;
    display: flex;
    align-items: center;
    gap: 422px;

}
.subheading {
    color: var(--Primary-color-black, #152427);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.subheading::before {
    content: "";
    margin: 9px 21px 9px 0;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
}
.heading {
    width: 520px;
    height: 104px;
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}
.process__heading::after,
.service__heading--heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    margin: 0 0px 9px 18px;
}
.service__link {
    margin-top: 53px;
    display: flex;
    gap: 17px;
}
.service__link--left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: var(--Scondery-color-light-green);
    border-radius: 50%;
    color:rgba(21, 36, 39, 1) ;
    transition: 0.3s;
    border: none;
}
.service__link--right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: var(--Scondery-color-light-green);
    border-radius: 50%;
    color:rgba(21, 36, 39, 1) ;
    transition: 0.3s;
    border: none;
}
.service__link--left:hover, 
.service__link--right:hover{
    background: var(--Primary-color-black-green);
    color: #fff;
}
.service__image {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.service-list {
    margin-top: 76px;
    display: flex;
    gap: 16px;
    overflow: hidden;
}
.service-item {
    width: 370px;
    border-radius: 20px;
    transform: translateX(0);
    transition:transform 0.5s ease ;

}
.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-list__content--heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
}
.service-list__content--desc {
    margin-top: 18px;
    color: var(--text-color-light-gray, #7D8188);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.service-list__content {
    padding: 24px 84px 23px 18px;
}
/* img ======================================= */
.about-box {
    display: flex;
    gap: 64px;
    margin-top: 149px;
    position: relative;
}
.about-image {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}
.about-image:first-child {
    margin-top: 77px;
}
.about__img {
    margin-top: 13px;
    display: flex;
    z-index: 1;
    gap: 21px;
}
.about-flower {
    position: absolute;
}
.about-branch {
    position: absolute;
    top: 0;
    left: 40px;
}
.about__bg {
    position: absolute;
    top: 122px;
    left: 150px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    width: 340px;
    height: 340px;
}
.about-desc {
    margin-top: 11px;
    width: 478px;
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.about-stats {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;

}

.about-stats__stats {
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}
.about-stats__desc {
    width: 364px;
    height: 52px;
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.about-item {
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    bottom: 8px;
    left: 457px;
    z-index: 2;
}
.about-item__avatar {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #FFF;
}
.about-item__heading {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
}
.about-item-content {
    width: 143px;
    height: 144px;
    padding: 19px 23px 12px;
}
.about-item__subheading {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575D5E);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.4;
}
.about-item__stats {
    margin-top: 10px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
}
.about-line {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}
.about-item__stats::after {
    position: absolute;
    top: 72px;
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
    z-index: 1;

}
.about-item-loading {
    margin-left: 55px;
    margin-top: 3px;
    color: var(--Primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px; /* 140% */
}
.about-item__teams {
    margin-top: 5px;
    display: flex;
}
.about-item__title {
    margin-right: 30px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px; /* 140% */
}
.about-item__avatar {
    margin-left: -6px;
}
/* ==========================================================processs========================================== */
.process-box {
    margin-top: 115px;
    position: relative;
}
.process-content__content {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1140px;
    height: 185px;
    border-radius: 33px;
    transition: all 0.5s ease;
}
.process-content__content:hover {
    background: var(--Scondery-color-light-green, #E2EDDF);
}
.process-content__content::after {
    position: absolute;
    bottom: -2px;
    content: "";
    display: block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
}
.process__heading {
    margin-bottom: 81px;
}
.process-content__content--stats {
    margin-left: 30px;
    color: var(--Primary-color-black-green, #143C3C);
    font-size: 7.2rem;
    font-weight: 600;
}
.process-content__content--title {
    width: 176px;
    margin-left: 49px;
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
}
.process-content__content--desc {
    margin-left: 175px;
    width: 572px;
    color: var(--text-color-light-gray, #7D8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.process-image {
    display: none;
    position: absolute;
    top: -50px;
    right: 92px;
    z-index: 1;
}